@media (min-width:764px) {
  .footer {
    display: none;
  }
}

@media (max-width:763px) {

  .footer .fixed-bottom {
    background-color: var(--Bg-Mirage);
    color: whitesmoke;
  }
  .nav-link {
      color: #007bff;
      padding: 5px;
      margin: .5rem;
  }
  .nav-link.active {
    color: whitesmoke;
    background-color: #464646;
    border-radius: 10px;
  }
}

.link-search::before {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  content: " ";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/images/search.svg");
  padding-right: 1.75rem;
}

.link-create::before {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  content: " ";
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/images/edit.svg");
  padding-right: 1.75rem;
}
